.next
.next/
.scannerwork
.scannerwork/
.vscode
.vscode/
dist
dist/
node_modules
node_modules/
.env*
cypress/screenshots/**
cypress/videos/**
.idea
.idea/
.idea/*.xml
*.iml
icomoon/debug.log
mockData
mockData/
.now
.vercel
.DS_Store
public/service-worker.js*
